* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: sans-serif;
}
.header {
 width: 100%;
 min-height: 100vh;
 padding: 0 8%;
 box-sizing: border-box;
}
nav {
 position: fixed;
 top: 20px;
 left: 10px;
 width: 100%;
 display: flex;
 align-items: center;
}
nav ul {
 flex: 1;
 text-align: center;
}
nav ul li {
 display: inline-block;
 margin: 30px 20px;
}
.logo {
 width: 60px;
 cursor: pointer;
}

nav ul li a {
 text-decoration: none;
 color: #000;
 font-size: 14px;
}
nav ul li a:hover {
 color: #ff5ea2;
}
nav .fa-bars {
 display: none;
}
.row {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 120px 0;
}
.col-1 {
 flex-basis: 40%;
 position: relative;
 margin-left: 50px;
}
.col-1 h2 {
 font-size: 44px;
}
.col-1 h3 {
 font-size: 20px;
 color: #707070;
 font-weight: 100;
 margin: 20px 0 10px;
}
.col-1 p {
 font-size: 14px;
 color: #b7b7b7;
 font-weight: 100;
}
.col-1 h4 {
 margin: 20px 0;
 font-size: 18px;
}
button {
 width: 120px;
 border: 0;
 padding: 12px 10px;
 outline: none;
 color: #fff;
 background: linear-gradient(to right, #fb5283, #ff3527);
 border-radius: 6px;
 cursor: pointer;
 transition: 0.5s;
}
button img {
 width: 30px;
 display: none;
}
button:hover img {
 display: block;
}
button:hover {
 width: 140px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.col-1::after {
 content: "";
 width: 10px;
 height: 57%;
 background: linear-gradient(#ff469f, #ff6062);
 position: absolute;
 left: -40px;
 top: 8px;
}
.col-2 {
 position: relative;
 flex-basis: 60%;
 display: flex;
 align-items: center;
}
.col-2 .controller {
 width: 80%;
}
.color-box {
 position: absolute;
 right: 0;
 top: 0;
 background: linear-gradient(#ff54a2, #ff575a);
 border-radius: 20px 0 0 20px;
 height: 100%;
 width: 80%;
 z-index: -1;
 transform: translateX(125px);
}
.add-btn img {
 width: 35px;
 margin-bottom: 5px;
}
.add-btn {
 text-align: center;
 color: #fff;
 cursor: pointer;
}
.social-links img {
 height: 13px;
 margin: 20px;
 cursor: pointer;
}
.social-links {
 text-align: center;
}
.menu-icon {
 display: none;
}
@media only screen and (max-width: 700px) {
 .logo {
  width: 45px;
  position: fixed;
  top: 14px;
  left: 19px;
 }

 nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: inline-block;
  width: 100%;
  text-align: right;
  max-height: 0px;
  background: linear-gradient(to right, #fb5283, #ff3527);
  overflow: hidden;
  transition: max-height 0.8s;
  margin-top: 60px;
 }
 nav ul li {
  display: block;
  margin-right: 84px;
  margin-top: 10px;
  margin-bottom: 1px;
  text-align: right;
 }
 nav ul li a {
  color: #fff;
 }
 nav ul {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
 }

 .hidemenu {
  max-height: 130px;
 }

 .row {
  flex-direction: column-reverse;
  margin: 120px 0;
 }
 .col-1 {
  flex-basis: 100%;
  margin-left: -80px;
 }
 .col-1 h2 {
  font-size: 35px;
 }
 .col-1 h3 {
  font-size: 15px;
 }
 .col-2 {
  flex-basis: 100%;
  margin-bottom: 30px;
  margin-left: -20px;
 }
 .col-2 .controller {
  width: 77%;
 }

 .color-box {
  transform: translateX(75px);
 }
 .menu-icon {
  display: block;
  position: fixed;
  top: 2%;
  right: 15%;
  font-size: 26px;
  color: #000;
  width: 30px;
 }
}
